.ams-user{
    margin: 30px 30px 30px 30px;
    overflow: auto;
}

.mat-header-cell {
    font: 15px arial, sans-serif;
    color: #263238;
    font-weight: bold;
    line-height: 1.5rem;    
}

img {
    border-radius: 50%;
    width:20%;
    margin-right:10px
  }

