<mat-card style="margin:10px;">
    <mat-card-header>
        <mat-card-title>
            <div class="MuiTypography-h2">My ToDo's</div>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                    <mat-radio-button value="1">
                        <p mat-line> Finish the proposal design and contract for the client ASAP </p>
                    </mat-radio-button>
                    <span style=" font-size: 10px; font-weight: 500; border-radius: 2px; 
                    background-color: rgb(229, 57, 53); color: rgb(255, 255, 255);">
                        Due 2D ago</span>
                    <button mat-button>
                        <mat-icon>archive_outline</mat-icon>
                    </button>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>


<!-- Copyright 2019 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->