.ams-billing{
    margin: 30px 30px 30px 30px;
    overflow: auto;
    height:600px;
}

.bill-table-container {
    overflow: auto;
    margin-top: 30px;
  }
  
  table {
    width: 100%;
  }
  
  tr.mat-footer-row {
    font-weight: bold;
  }
  
  .mat-table-sticky {
    border-top: 1px solid #e0e0e0;
  }