<div >
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <div>
                <img class="ams-logo" src="../assets/building.png" />
            </div>
            <span class="spacer"></span>
            <div>
                <span>Application Demo App</span>
            </div>
            <span class="search-spacer"></span>
            <mat-form-field>
                <mat-label>Search ... </mat-label>
                <input matInput placeholder="Search Anything">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <span class="icon-spacer"></span>
            <button mat-mini-fab color="primary">
                <mat-icon matSuffix>people</mat-icon>
            </button>
            <span class="icon-spacer"></span>
            <button mat-mini-fab color="primary">
                <mat-icon matSuffix>notifications_none</mat-icon>
            </button>
            <span class="icon-spacer"></span>
            <button mat-button>
                <mat-icon>logout</mat-icon>
                <mat-label>Sign Out </mat-label>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container>
        <mat-sidenav mode="side" opened class="sidenav">
            <div fxLayout="column">
                <mat-nav-list>
                    <a mat-list-item>
                        <mat-icon matListIcon> home </mat-icon>
                        <mat-label>Home</mat-label>
                    </a>
                    <a mat-list-item>
                        <mat-icon matListIcon> dashboard </mat-icon>
                        <mat-label> Dashboard </mat-label>
                    </a>
                </mat-nav-list>
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <mat-grid-list cols="2" rowHeight="2:1" fxFlexFill>
                <mat-grid-tile>
                    <div>
                        <h3 class="MuiTypography-overline">Home</h3>
                        <h1 class="MuiTypography-h3">Good Morning, Santosh</h1>
                        <h5 class="MuiTypography-subtitle1">Here’s what’s happening with your apartment today</h5>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="../assets/landscape.jpg">
                </mat-grid-tile>
            </mat-grid-list>
            <div style="display:flex; flex-direction: row; flex-wrap: wrap"  fxLayoutAlign="center center">
                <mat-card class="main-card" [class.mat-elevation-z2]=true>
                    <mat-card-header>
                        <mat-card-title>
                            <div class="MuiTypography-h2">Rs 4,440/-</div>
                        </mat-card-title>
                        <mat-card-subtitle>Payment due</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card class="main-card"  [class.mat-elevation-z2]=true>
                    <mat-card-header>
                        <mat-card-title>
                                <div class="MuiTypography-h2">2</div>
                        </mat-card-title>
                        <mat-card-subtitle>New Messages</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card class="main-card"  [class.mat-elevation-z2]=true>
                    <mat-card-header>
                        <mat-card-title>
                                <div class="MuiTypography-h2">0</div>
                        </mat-card-title>
                        <mat-card-subtitle>Visitors for you</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card class="main-card"  [class.mat-elevation-z2]=true>
                    <mat-card-header>
                        <mat-card-title>
                                <div class="MuiTypography-h2">2</div>
                        </mat-card-title>
                        <mat-card-subtitle>Open requests</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>
            <div>
                <app-my-to-dos></app-my-to-dos>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>