<div class="container">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <div>
                <img class="ams-logo" src="../assets/building.png" />
            </div>
            <span class="spacer"></span>
            <div>
                <span>Application Demo App</span>
            </div>
            <span class="search-spacer"></span>
            <mat-form-field>
                <mat-label>Search ... </mat-label>
                <input matInput placeholder="Search Anything">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <span class="icon-spacer"></span>
            <button mat-mini-fab color="primary">
                <mat-icon matSuffix>people</mat-icon>
            </button>
            <span class="icon-spacer"></span>
            <button mat-mini-fab color="primary">
                <mat-icon matSuffix>notifications_none</mat-icon>
            </button>
            <span class="icon-spacer"></span>
            <button mat-button>
                <mat-icon>logout</mat-icon>
                <mat-label>Sign Out </mat-label>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container>
        <mat-sidenav mode="side" opened class="sidenav">
            <div fxLayout="column">
                <mat-nav-list>
                    <a routerLink="" routerLinkActive="active" mat-list-item>
                        <mat-icon matListIcon> home </mat-icon>
                        <mat-label>Home</mat-label>
                    </a>
                    <a mat-list-item>
                        <mat-icon matListIcon> dashboard </mat-icon>
                        <mat-label> Dashboard </mat-label>
                    </a>
                    <a routerLink="residents" routerLinkActive="active" mat-list-item>
                        <mat-icon matListIcon> people </mat-icon>
                        <mat-label> Residents </mat-label>
                    </a>
                </mat-nav-list>
            </div>
        </mat-sidenav>
        <mat-sidenav-content class="container">
                <router-outlet></router-outlet>            
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>