.sidenav-container {
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;
  }
  
  .sidenav {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    width: 15%;
  }
  
  .main-container{
    display: flex;
    flex-direction: row;    
    
  }

  .MuiTypography-overline {
    color: #546e7a;
    font-size: 11px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: 0.33px;
    text-transform: uppercase;
}



